{% extends 'layout.html' %}

{% load static %}

{% block content %}

<div class="container header-hero ">
    <div class="header-text">
        <h1>Hi, This is Jhosian.</h1>


        <div class="header-text-animated">
            <p>I'm a <span class="typed-text"></span><span class="cursor ">&nbsp;</span></p>
        </div>


        <a class="btn" href="https://github.com/JhosianGtZ/" target="_blank">Github</a>
    </div>

    <div class="header-ilustration">
        <img src="{% static 'portfolio/images/ilustration.svg' %}" alt="Jhosian Ilustration">
    </div>
</div>

</header>

{% endblock %}