 
{% load static %}

<section class="about" id="about">

    <div class="container">

        <div class="about-content">

            <div class="about-photo">
                <img src="{% static 'portfolio/images/Rectangle 7.png' %}" alt="Jhosian about-photo ">
            </div>

            <div class="about-text">


                <h2 class="about-title">About Me.</h2>


                <p>I'm a software developer who enjoys making things with web technologies. I've worked on different
                    projects as a front-end and back-end developer using technologies like PHP, NodeJs, Django,
                    Bootstrap, CSS, Vanilla JavaScript, and databases like MySql, PostgreSQL.
                </p>

                <br>

                <p>
                    As a UI Designer, I design friendly and interactive user interfaces that bring a better user
                    experience. I use Figma and Adobe XD to make my designs. I'm currently available to work if you
                    are interested, here is my <b><a class="about-link" href="#contact">contact</a></b> information.
                </p>

                <br>

                <p>Outside of work, I'm a simple guy that spends his free time playing video games, watching sci-fi
                    movies, and going out to clear the mind.</p>

                <div class="about-button">
                    <a class="btn" href="#">DOWNLOAD CV</a>
                </div>

            </div>
        </div>

</section>