{% load static %}

<section class="contact" id="contact">
    <div class="container">
        <div class="contact-container">

            <div class="contact-info">
                <h2 class="title">Contact Me.</h2>

                <p>I'd like to hear your idea. Any solution you need, send me a message on my social networks,
                    it will be a pleasure for me to read it. </p>

                <hr>

                <div class="social-icons">

                    <a href="https://www.linkedin.com/in/jhosiangtz/" target="_blank"><i
                            class='bx bxl-linkedin'></i></a>

                    <a href="https://github.com/JhosianGtZ/" target="_blank"><i class='bx bxl-github'></i></a>

                    <a href="https://codepen.io/jhosiangtz" target="_blank"><i class='bx bxl-codepen'></i></a>

                    <a href="https://www.instagram.com/_jhosian/" target="_blank"><i
                            class='bx bxl-instagram'></i></a>

                </div>

                <hr>

                <p>Created By <b><a class="link" href="#">Jhosian Gutiérrez</a></b> </p>
                <br>
                <p class="copy">&copy; 2021 ALL RIGHTS RESERVED.</p>

            </div>


            <div class="contact-form">

                <form action="https://formsubmit.co/jhosiandev@gmail.com" class="form" method="post">

                    <input type="text" name="name" id="" placeholder="Name" required>
                    
                    <input type="hidden" name="_subject" value="New project!">

                    <input type="email" name="email" id="" placeholder="Email" required>

                    <input type="hidden" name="_template" value="box">
                    
                    <input type="hidden" name="_next" value="http://127.0.0.1:5500/">

                    <textarea name="message" id="" cols="30" rows="10" placeholder="Message" required></textarea>

                    <button type="submit">Send Message</button>
                </form>

            </div>



        </div>
    </div>
</section>
