{% load static %}

<header class="header " id="home">

    <nav class="nav-menu">

        <div class="nav-container">
            <div class="nav-logo">
                <a href="" class="nav-logo-a">
                    <img class="logo" src="{% static 'portfolio/images/logo.svg' %}" alt="Jhosian logo">
                    <h2>JhosianDev</h2>
                </a>
            </div>

            <div class="icon" id="icon">
                <span><i id="menu" class='bx bx-menu-alt-right'></i></span>
            </div>

            <div class="nav-links btn-1" id="nav-links">
                <a href="#home">Home</a>
                <a href="#portfolio">Portfolio</a>
                <a href="#about">About</a>
                <a href="#contact">Contact</a>
            </div>
        </div>
    </nav>